body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f4f4f4;
}
.hnz-navbox {
  width: 100%;
  height: 144px;
  background: rgba(21, 92, 134, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.hnz-navbox .hnz-nav {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.hnz-navbox .hnz-nav .hnz-logo {
  float: left;
  width: 76px;
  height: 100%;
  position: relative;
}
.hnz-navbox .hnz-nav .hnz-logo img {
  position: absolute;
  margin: auto 0;
  top: 0;
  bottom: 0;
}
.hnz-navbox .hnz-nav .hnz-list {
  height: 65px;
  float: left;
  margin-top: 50px;
}
.hnz-navbox .hnz-nav .hnz-list li {
  width: 230px;
  height: 100%;
  float: left;
  border-right: 1px dashed #aaaaaa;
  text-align: center;
}
.hnz-navbox .hnz-nav .hnz-list li a {
  height: 100%;
  display: inline-block;
  color: #fff;
}
.hnz-navbox .hnz-nav .hnz-list li a span {
  display: block;
  width: 100%;
  height: 30px;
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}
.hnz-navbox .hnz-nav .hnz-list li a span.hnz-en {
  color: #bdbebf;
  background: url("../images/hnz/hnz-line.png") no-repeat 0 bottom;
}
.hnz-navbox .hnz-nav .hnz-list li a span.hnz-zh {
  height: 35px;
}
.hnz-navbox .hnz-nav .hnz-list li a.hnz-active .hnz-zh,
.hnz-navbox .hnz-nav .hnz-list li a:hover .hnz-zh {
  background: url("../images/hnz/hnz-nav-active.png") no-repeat 0 bottom;
}
.hnz-navbox .hnz-nav .hnz-search-btn {
  float: right;
  position: relative;
  margin-top: 60px ;
  width: 80px;
  height: 45px;
  background: url("../images/hnz/hnz-search.png") no-repeat 0 0;
}
.hnz-banner-box {
  width: 100%;
  height: 924px;
  position: relative;
  overflow-x: hidden;
}
.hnz-banner-box .hnz-banner-bg {
  position: absolute;
  left: 50%;
  margin-left: -960px;
}
.hnz-banner-box .hnz-banner {
  width: 1440px;
  height: 744px;
  position: absolute;
  top: 180px;
  left: 50%;
  margin-left: -720px;
}
.hnz-banner-box .hnz-banner ul {
  width: 100%;
  height: 100%;
  position: relative;
}
.hnz-banner-box .hnz-banner ul li {
  width: 100%;
  height: 100%;
  position: absolute;
}
.hnz-banner-box .hnz-banner ul li .hnz-big-img {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.hnz-banner-box .hnz-banner ul li .hnz-title {
  width: 590px;
  height: 256px;
  background: #10c8f0;
  position: absolute;
  left: -120px;
  top: 180px;
}
.hnz-banner-box .hnz-banner ul li .hnz-title img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.hnz-banner-box .hnz-banner .hnz-index-box {
  position: absolute;
  top: 300px;
  right: -120px;
  width: 120px;
  height: 240px;
  background: url("../images/small_img.png") no-repeat -580px -102px;
}
.hnz-banner-box .hnz-banner .hnz-index-box .hnz-index-l {
  width: 50px;
  height: 135px;
  float: left;
  padding-top: 30px;
}
.hnz-banner-box .hnz-banner .hnz-index-box .hnz-index-l span {
  margin: 15px 0 0 20px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/small_img.png") no-repeat -684px -348px;
}
.hnz-banner-box .hnz-banner .hnz-index-box .hnz-index-l span.hnz-hot {
  background: url("../images/small_img.png") no-repeat -654px -348px;
}
.hnz-banner-box .hnz-banner .hnz-index-box .hnz-index-r {
  width: 70px;
  height: 65px;
  padding-top: 100px;
  float: right;
}
.hnz-banner-box .hnz-banner .hnz-index-box .hnz-index-r span {
  float: left;
  width: 20%;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}
.hnz-banner-box .hnz-banner .hnz-index-box .hnz-index-r span.hnz-index-now {
  width: 40%;
  font-size: 24px;
  text-align: right;
}
.hnz-banner-box .hnz-banner .hnz-index-box .hnz-index-r span.hnz-index-all {
  text-align: left;
  width: 40%;
}
.hnz-banner-box .hnz-banner .hnz-index-box .hnz-index-btn {
  width: 50px;
  padding-left: 30px;
  height: 40px;
  float: left;
  background: url("../images/small_img.png") no-repeat -621px -370px;
}
.hnz-banner-box .hnz-banner .hnz-index-box .hnz-index-btn span {
  width: 20px;
  height: 100%;
  float: left;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  line-height: 40px;
  color: #f0c310;
  cursor: pointer;
  font-family: monospace;
}
.hnz-info-box {
  width: 1236px;
  height: 257px;
  margin: -166px auto 60px;
  position: relative;
  z-index: 1000;
}
.hnz-info-box .hnz-info-bg-l {
  float: left;
  width: 33px;
  height: 100%;
  background: url('../images/hnz/hnz-tools-bg-l.png') no-repeat 2px 0;
}
.hnz-info-box .hnz-info-bg-c {
  float: left;
  width: 1170px;
  height: 100%;
  background: url('../images/hnz/hnz-tools-bg-c.png') repeat-x 0 0;
}
.hnz-info-box .hnz-info-bg-r {
  float: left;
  width: 33px;
  height: 100%;
  background: url('../images/hnz/hnz-tools-bg-r.png') no-repeat 0 0;
}
.hnz-info-box .hnz-info-content {
  width: 1110px;
  height: 150px;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.hnz-info-box .hnz-info-content .hnz-info-top {
  width: 100%;
  height: 85px;
  border-bottom: 1px dashed #ccc;
}
.hnz-info-box .hnz-info-content .hnz-info-top div {
  width: 33.33333%;
  float: left;
}
.hnz-info-box .hnz-info-content .hnz-info-top div .hnz-icon {
  width: 56px;
  height: 50px;
}
.hnz-info-box .hnz-info-content .hnz-info-top div .hnz-number {
  width: 100px;
  height: 50px;
  font-size: 52px;
  font-style: italic;
  line-height: 52px;
  text-align: center;
  font-weight: bold;
}
.hnz-info-box .hnz-info-content .hnz-info-top .hnz-works-1 {
  color: #40d1f1;
}
.hnz-info-box .hnz-info-content .hnz-info-top .hnz-works-1 .hnz-icon {
  background: url("../images/small_img.png") no-repeat -643px -541px;
}
.hnz-info-box .hnz-info-content .hnz-info-top .hnz-works-2 {
  color: #f0c310;
}
.hnz-info-box .hnz-info-content .hnz-info-top .hnz-works-2 .hnz-icon {
  background: url("../images/small_img.png") no-repeat -643px -595px;
}
.hnz-info-box .hnz-info-content .hnz-info-top .hnz-works-3 {
  color: #32d486;
}
.hnz-info-box .hnz-info-content .hnz-info-top .hnz-works-3 .hnz-icon {
  background: url("../images/small_img.png") no-repeat -643px -652px;
}
.hnz-info-box .hnz-info-content .hnz-info-bottom {
  width: 100%;
  height: 64px;
}
.hnz-info-box .hnz-info-content .hnz-info-bottom .hnz-icon-clock {
  width: 64px;
  height: 60px;
  float: left;
  background: url('../images/small_img.png') no-repeat -652px -480px;
}
.hnz-info-box .hnz-info-content .hnz-info-bottom-content {
  width: 896px;
  float: left;
  height: 64px;
  line-height: 64px;
  font-size: 20px;
  color: #747474;
}
.hnz-info-box .hnz-info-content .hnz-info-bottom-time {
  float: right;
  width: 130px;
  padding-left: 20px;
  line-height: 68px;
  color: #fff;
  height: 64px;
  background: url('../images/small_img.png') no-repeat -583px -423px;
}
.hnz-slide {
  width: 66px;
  height: 700px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1200;
  background-color: rgba(36, 38, 40, 0.6);
}
.hnz-slide .hnz-avatar {
  width: 60px;
  height: 60px;
  margin: 60px auto 0;
  position: relative;
}
.hnz-slide .hnz-avatar .hnz-mask {
  width: 100%;
  height: 100%;
  background: url("../images/hnz/hnz-photo.png") no-repeat 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.hnz-slide .hnz-avatar img {
  position: absolute;
  left: 0;
  top: 0;
  margin: 2px;
  z-index: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 2px solid #f9cd1e;
}
.hnz-slide .hnz-stars {
  margin: 10px auto;
  width: 54px;
  height: 24px;
  background: url('../images/hnz/hnz-line2.png') no-repeat center bottom;
}
.hnz-slide .hnz-stars div {
  width: 100%;
  height: 20px;
}
.hnz-slide .hnz-stars .star1 {
  background: url('../images/small_img.png') no-repeat 0 -475px;
}
.hnz-slide .hnz-stars .star2 {
  background: url('../images/small_img.png') no-repeat 0 -504px;
}
.hnz-slide .hnz-stars .star3 {
  background: url('../images/small_img.png') no-repeat 0 -535px;
}
.hnz-slide .hnz-slide-list {
  width: 43px;
  margin: 45px auto 0;
  height: auto;
}
.hnz-slide .hnz-slide-list a {
  display: block;
  width: 43px;
  height: 43px;
  margin-bottom: 25px;
  position: relative;
}
.hnz-slide .hnz-slide-list a:hover span {
  display: block;
}
.hnz-slide .hnz-slide-list a span {
  display: none;
  position: absolute;
  width: 94px;
  height: 50px;
  right: 100%;
  background: url('../images/small_img.png') no-repeat 0 -650px;
}
.hnz-slide .hnz-slide-list .hnz-home {
  background: url('../images/small_img.png') no-repeat -208px -207px;
}
.hnz-slide .hnz-slide-list .hnz-email {
  background: url('../images/small_img.png') no-repeat -208px -374px;
}
.hnz-slide .hnz-slide-list .hnz-message {
  background: url('../images/small_img.png') no-repeat -208px -262px;
}
.hnz-slide .hnz-slide-list .hnz-chengjiu {
  background: url('../images/small_img.png') no-repeat -208px -318px;
}
.hnz-slide .hnz-slide-list .hnz-shoucang {
  background: url('../images/small_img.png') no-repeat -208px -155px;
}
.hnz-slide .hnz-back {
  position: absolute;
  width: 43px;
  height: 43px;
  bottom: 80px;
  background: url('../images/small_img.png') no-repeat -208px -429px;
  margin: 0 11px;
}
.hnz-slide .hnz-login-out {
  position: absolute;
  margin: 0 14.5px;
  width: 37px;
  height: 43px;
  bottom: 20px;
  background: url("../images/hnz/hnz-all-home.png") no-repeat 0px -344px;
}
.hnz-works {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}
.hnz-works .hnz-works-head {
  height: 43px;
}
.hnz-works .hnz-works-head h3 {
  height: 100%;
  width: 286px;
  background: url('../images/hnz/hnz-zp.png') no-repeat 0 center;
  float: left;
}
.hnz-works .hnz-works-head a {
  float: right;
  height: 100%;
  width: 145px;
  background: url('../images/small_img.png') no-repeat 0 -146px;
}
.hnz-works .hnz-works-list {
  width: 100%;
  height: 834px;
}
.hnz-works .hnz-works-list-inner {
  height: 100%;
  margin: 0 -15px;
}
.hnz-works .hnz-works-list .wlh-zpshow-tjcon {
  width: 380px;
  height: 385px;
  border-radius: 6px;
  behavior: url(border-radius.htc);
  background: #fff;
  float: left;
  margin: 16px 15px 0 15px;
}
.hnz-works .hnz-works-list .wlh-zpshow-tjcon .wlh-zpshow-tjimg {
  width: 100%;
  height: 267px;
  overflow: hidden;
}
.hnz-works .hnz-works-list .wlh-zpshow-tjcon .wlh-zpshow-tjxj {
  width: 354px;
  height: 82px;
  padding: 18px 13px 18px 13px;
}
.hnz-works .hnz-works-list .wlh-zpshow-tjcon .wlh-zpshow-tjxj .wlh-zpshow-tjxj-left {
  float: left;
  width: 266px;
  overflow: hidden;
}
.hnz-works .hnz-works-list .wlh-zpshow-tjcon .wlh-zpshow-tjxj .wlh-zpshow-tjxj-left h4 {
  color: #403e3e;
  font-size: 16px;
  background: url("../images/wlh/wlh_title_line.jpg") no-repeat 3px 22px;
  height: 23px;
}
.hnz-works .hnz-works-list .wlh-zpshow-tjcon .wlh-zpshow-tjxj .wlh-zpshow-tjxj-left p {
  height: 20px;
  overflow: hidden;
  color: #606060;
  font-size: 14px;
  line-height: 20px;
}
.hnz-works .hnz-works-list .wlh-zpshow-tjcon .wlh-zpshow-tjxj .wlh-zpshow-tjxj-left .wlh-see {
  float: left;
  margin-right: 5px;
  line-height: 20px;
  margin-top: 10px;
}
.hnz-works .hnz-works-list .wlh-zpshow-tjcon .wlh-zpshow-tjxj .wlh-zpshow-tjxj-left .wlh-see .wlh-see-img {
  width: 16px;
  height: 16px;
  background: url("../images/small_img.png") no-repeat -684px -46px;
  float: left;
  line-height: 16px;
}
.hnz-works .hnz-works-list .wlh-zpshow-tjcon .wlh-zpshow-tjxj .wlh-zpshow-tjxj-left .wlh-see span {
  color: #ababab;
  font-size: 12px;
  float: left;
  margin: 0 5px;
  line-height: 16px;
}
.hnz-works .hnz-works-list .wlh-zpshow-tjcon .wlh-zpshow-tjxj .wlh-zpshow-tjxj-left .wlh-xin {
  float: right;
  width: 102px;
  height: 16px;
  margin-top: 10px;
  background: url("../images/small_img.png") no-repeat 0 -439px;
}
.hnz-works .hnz-works-list .wlh-zpshow-tjcon .wlh-zpshow-tjxj .wlh-zpshow-tjxj-right {
  float: right;
  width: 71px;
  height: 71px;
  background: #dddddd;
  border: 3px solid #dddddd;
  border-radius: 50%;
  behavior: url(border-radius.htc);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.hnz-works .hnz-works-list .wlh-zpshow-tjcon .wlh-zpshow-tjxj .wlh-zpshow-tjxj-right img {
  width: 71px;
  height: 71px;
}
.hnz-works .hnz-works-list .wlh-zpshow-tjcon .wlh-zpshow-tjxj .wlh-zpshow-tjxj-right .wlh-tjxj-zhezhao {
  width: 71px;
  height: 71px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: url("../images/wlh/wlh_zpjx-bg.png");
  display: none;
}
.hnz-works .hnz-works-list .wlh-zpshow-tjcon .wlh-zpshow-tjxj .wlh-zpshow-tjxj-right .wlh-tjxi-sj {
  position: absolute;
  left: 33px;
  top: 24px;
  z-index: 2;
}
.hnz-works .hnz-works-list .wlh-zpshow-tjcon .wlh-zpshow-tjxj .wlh-zpshow-tjxj-right .wlh-tjxi-sj img {
  width: 12px;
  height: 17px;
}
.hnz-works .hnz-works-list .wlh-zpshow-tjcon .wlh-zpshow-tjxj .wlh-zpshow-tjxj-right .wlh-tjxj-video {
  width: 65px;
  height: 25px;
  background: url("../images/wlh/wlh_zpshow_jx.png") no-repeat;
  position: absolute;
  left: 3px;
  bottom: -25px;
  z-index: 5;
}
.hnz-article {
  width: 1200px;
  height: auto;
  margin: 40px auto 0;
}
.hnz-article .hnz-article-head {
  height: 43px;
}
.hnz-article .hnz-article-head h3 {
  height: 100%;
  width: 286px;
  background: url('../images/hnz/hnz-article.png') no-repeat 0 center;
  float: left;
}
.hnz-article .hnz-article-head a {
  float: right;
  height: 100%;
  width: 145px;
  background: url('../images/small_img.png') no-repeat 0 -146px;
}
.hnz-article .hnz-article-list {
  margin-top: 40px;
  width: 100%;
  height: 580px;
}
.hnz-article .hnz-article-list .hnz-article-left {
  width: 884px;
  height: 100%;
  float: left;
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one {
  background: #fff;
  height: 280px;
  margin-bottom: 19px;
  transition: all .5s;
  -webkit-transition: all .5s;
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one:hover {
  box-shadow: 0 0 20px #999;
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one:hover .hnz-img img {
  transform: scale(1.1, 1.1);
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one .hnz-img {
  width: 300px;
  height: 280px;
  overflow: hidden;
  float: left;
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one .hnz-img img {
  transition: all .5s;
  -webkit-transition: all .5s;
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one .hnz-content {
  float: left;
  margin: 45px 0 0 30px;
  width: 512px;
  height: 210px;
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one .hnz-content-top {
  height: 122px;
  border-bottom: 1px dashed #ccc;
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one .hnz-content-top h4 {
  font-size: 20px;
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one .hnz-content-top h4 a {
  color: #33aee3;
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one .hnz-content-top p {
  font-size: 18px;
  color: #434344;
  line-height: 1.3;
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one .hnz-content-bottom {
  padding-top: 20px;
  height: 68px;
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one .hnz-content-bottom .hnz-photo {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 3px solid #ccc;
  overflow: hidden;
  float: left;
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one .hnz-content-bottom .hnz-photo img {
  width: 100%;
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one .hnz-content-bottom .hnz-avatar {
  padding: 10px 0 0 10px;
  float: left;
  width: 120px;
  height: 64px;
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one .hnz-content-bottom .hnz-avatar-name {
  height: 24px;
  font-size: 16px;
  color: #545454;
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one .hnz-content-bottom .hnz-avatar .hnz-ck {
  float: left;
  width: 74px;
  height: 20px;
  border-radius: 10px;
  background: #f2c744;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one .hnz-content-bottom .hnz-avatar .hnz-zw {
  margin-left: 5px;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #39c380;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one .hnz-content-bottom > img {
  margin-top: 10px;
  float: left;
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one .hnz-content-bottom .hnz-fav {
  padding-top: 10px;
  width: 110px;
  height: 54px;
  float: left;
  text-align: center;
  font-size: 14px;
  color: #545454;
}
.hnz-article .hnz-article-list .hnz-article-left .hnz-one .hnz-content-bottom .hnz-fav-icon {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background: url('../images/small_img.png') no-repeat 0 -575px;
}
.hnz-article .hnz-article-list .hnz-article-right {
  width: 300px;
  height: 100%;
  float: right;
  background: #fff;
  transition: all .5s;
  -webkit-transition: all .5s;
}
.hnz-article .hnz-article-list .hnz-article-right:hover {
  box-shadow: 0 0 20px #999;
}
.hnz-article .hnz-article-list .hnz-article-right:hover .hnz-img img {
  transform: scale(1.1, 1.1);
}
.hnz-article .hnz-article-list .hnz-article-right .hnz-img {
  width: 300px;
  height: 280px;
  overflow: hidden;
}
.hnz-article .hnz-article-list .hnz-article-right .hnz-img img {
  transition: all .5s;
  -webkit-transition: all .5s;
}
.hnz-article .hnz-article-list .hnz-article-right .hnz-content-top {
  height: 110px;
  margin: 30px 0 0 16px;
}
.hnz-article .hnz-article-list .hnz-article-right .hnz-content-top h4 {
  font-size: 20px;
}
.hnz-article .hnz-article-list .hnz-article-right .hnz-content-top h4 a {
  color: #33aee3;
}
.hnz-article .hnz-article-list .hnz-article-right .hnz-content-top p {
  font-size: 18px;
  color: #434344;
  line-height: 1.3;
}
.hnz-article .hnz-article-list .hnz-article-right .hnz-fav {
  margin: 16px 0 0 16px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  color: #545454;
  border-bottom: 1px dashed #ccc;
}
.hnz-article .hnz-article-list .hnz-article-right .hnz-fav-one {
  width: 33.33%;
  height: 40px;
  float: left;
  text-align: center;
  font-size: 14px;
  color: #545454;
}
.hnz-article .hnz-article-list .hnz-article-right .hnz-fav-one .hnz-fav-icon {
  width: 24px;
  height: 24px;
  float: left;
  background: url('../images/small_img.png') no-repeat 0 -575px;
}
.hnz-article .hnz-article-list .hnz-article-right .hnz-photo {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 3px solid #ccc;
  overflow: hidden;
  float: left;
  margin: 20px 20px 0;
}
.hnz-article .hnz-article-list .hnz-article-right .hnz-photo img {
  width: 100%;
}
.hnz-article .hnz-article-list .hnz-article-right .hnz-avatar {
  margin-top: 20px;
  padding: 10px 16px 0;
  height: 64px;
}
.hnz-article .hnz-article-list .hnz-article-right .hnz-avatar-name {
  height: 24px;
  font-size: 16px;
  color: #545454;
}
.hnz-article .hnz-article-list .hnz-article-right .hnz-avatar .hnz-ck {
  float: left;
  width: 74px;
  height: 20px;
  border-radius: 10px;
  background: #f2c744;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}
.hnz-article .hnz-article-list .hnz-article-right .hnz-avatar .hnz-zw {
  margin-left: 5px;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #39c380;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}
.hnz-designer-box {
  background: #fff;
  margin-top: 50px;
}
.hnz-designer-box .hnz-designer {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  border-top: 1px solid transparent;
}
.hnz-designer-box .hnz-designer-head {
  height: 43px;
  margin: 50px 0 20px;
}
.hnz-designer-box .hnz-designer-head h3 {
  height: 100%;
  width: 286px;
  background: url('../images/hnz/hnz-designer.png') no-repeat 0 center;
  float: left;
}
.hnz-designer-box .hnz-designer-head a {
  float: right;
  height: 100%;
  width: 145px;
  background: url('../images/small_img.png') no-repeat 0 -146px;
}
.hnz-designer-box .hnz-designer-list {
  width: 100%;
  height: auto;
  position: relative;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one {
  width: 33.3333%;
  float: left;
  height: 540px;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-photo {
  width: 100%;
  height: 400px;
  position: relative;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-photo div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-photo .hnz-designer-img {
  position: absolute;
  width: 244px;
  height: 244px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  overflow: hidden;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-photo .hnz-designer-img img {
  width: 100%;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-photo .hnz-zw {
  width: 42px;
  height: 42px;
  position: absolute;
  bottom: 20px;
  left: 10px;
  background: url("../images/hnz/hnz-all-home.png") no-repeat -90px -778px;
  z-index: 9;
  text-align: center;
  line-height: 42px;
  color: #fff;
  left: 110px;
  top: 280px;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-photo .hnz-blue {
  height: 160px;
  top: 76px;
  left: -20px;
  background: url("../images/hnz/hnz-all-home.png") no-repeat 0 -583px;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-photo .hnz-yellow {
  width: 150px;
  height: 160px;
  background: url("../images/hnz/hnz-all-home.png") no-repeat 0 -844px;
  top: 140px;
  left: 220px;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-photo .hnz-orange {
  width: 244px;
  height: 244px;
  background: url("../images/hnz/hnz-all-home.png") no-repeat -454px 0;
  top: 50px;
  left: 40px;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-photo .hnz-green {
  width: 112px;
  height: 140px;
  background: url("../images/hnz/hnz-all-home.png") no-repeat -583px -263px;
  top: 190px;
  left: 240px;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-photo .hnz-blues {
  width: 60px;
  height: 60px;
  background: url("../images/hnz/hnz-all-home.png") no-repeat -630px -733px;
  top: 80px;
  left: 80px;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-photo .hnz-greens {
  width: 130px;
  height: 170px;
  background: url("../images/hnz/hnz-all-home.png") no-repeat -563px -828px;
  top: 80px;
  left: 240px;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-info {
  padding: 0 75px;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-info .hnz-designer-name {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #595959;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-info .hnz-designer-name span {
  color: #48c1ff;
  display: inline-block;
  width: 100px;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-info p {
  color: #595959;
  height: 30px;
  line-height: 24px;
  border-bottom: 1px dashed #ccc;
  overflow: hidden;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-info .hnz-designer-icon {
  margin-top: 10px;
  overflow: hidden;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-info .hnz-designer-icon > div {
  width: 33.333%;
  float: left;
  height: 21px;
  line-height: 21px;
  vertical-align: middle;
  color: #696969;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-info .hnz-designer-icon > div span {
  display: inline-block;
  width: 21px;
  height: 21px;
  vertical-align: middle;
  margin-right: 10px;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-info .hnz-designer-icon .hnz-sc span {
  background: url('../images/small_img.png') no-repeat -679px -22px;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-info .hnz-designer-icon .hnz-ss span {
  background: url('../images/small_img.png') no-repeat -655px -22px;
}
.hnz-designer-box .hnz-designer-list .hnz-designer-one .hnz-designer-info .hnz-designer-icon .hnz-pl span {
  background: url('../images/small_img.png') no-repeat -632px -22px;
}
.hnz-designer-box .hnz-designer-list .hnz-line1 {
  width: 100%;
  height: 0;
  border-bottom: 1px dashed #ccc;
  position: absolute;
  top: 540px;
}
.hnz-designer-box .hnz-designer-list .hnz-line2 {
  width: 100%;
  height: 0;
  border-bottom: 1px dashed #ccc;
  position: absolute;
  top: 540px;
}
.hnz-designer-box .hnz-designer-list .hnz-join-club {
  margin: 0 auto;
  display: block;
  width: 340px;
  height: 120px;
  background: url("../images/hnz/hnz-all-home.png") no-repeat 0px 0px;
}
