* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
}
div:after {
  clear: both;
  display: block;
  content: "";
}
.kf_ztNav {
  width: 100%;
  height: 187px;
  background: #F7F7F7;
  padding-top: 56px;
}
.kf_ztNav .kf_ztNavCon {
  width: 1200px;
  margin: 0 auto;
}
.kf_ztNav .kf_ztNavCon .kf_ztNavItem {
  border: 0px ;
  width: 202px;
  height: 118px;
  float: left;
  margin-left: 40px;
}
.kf_allwz {
  background: #F4F4F4;
  width: 100%;
}
.kf_allwz .kf_wzCon {
  width: 1200px;
  margin: 0 auto;
}
.kf_allwz .kf_wzCon .kf_breadNav {
  float: left;
  width: 124px;
  height: 24px;
  font-size: 12px;
  margin-bottom: 46px;
  margin-top: 37px;
  line-height: 24px;
}
.kf_allwz .kf_wzCon .kf_breadNav a {
  text-decoration: none;
}
.kf_allwz .kf_wzCon .kf_breadNav span {
  color: #AAAAAA;
}
.kf_allwz .kf_wzCon .kf_breadNav div {
  width: 24px;
  display: inline-block;
  height: 24px;
  background-image: url(../images/small_img.png);
  background-position: -675px -67px;
  vertical-align: top;
  margin-right: 7px;
}
.kf_allwz .kf_wzCon .kf_breadNav:after {
  clear: both;
  display: block;
  content: "";
}
.kf_allwz .kf_wzCon .kf_allWorks {
  width: 868px;
  float: left;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workTop {
  height: 48px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workTop .kf_wtOne,
.kf_allwz .kf_wzCon .kf_allWorks .kf_workTop .kf_zplb {
  float: left;
  margin-right: 28px;
  font-size: 17px;
  color: #fff;
  height: 48px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workTop .kf_zplb {
  position: relative;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workTop .kf_wtOne {
  height: 40px;
  line-height: 40px;
  width: 200px;
  background: url(../images/zkf/kf_16.png) no-repeat center;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workTop .kf_smallbox div:hover .kf_quan {
  background: #30A8F4;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workTop .boxOpacity {
  width: 371px;
  height: 0px;
  position: absolute;
  z-index: 999;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workTop .kf_smallbox {
  z-index: 999;
  height: 0px;
  overflow: hidden;
  position: absolute;
  left: 59px;
  padding-left: 20px;
  width: 259px;
  background: url(../images/wlh/wlh_zp_caidan.png);
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workTop .kf_smallbox div {
  width: 200px;
  height: 40px;
  text-align: left;
  line-height: 40px;
  font-size: 30px;
  border-bottom: 1px dashed #C2C2C2;
  padding-left: 20px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workTop .kf_smallbox div .kf_fenlei {
  font-size: 15px;
  color: #646364;
  text-decoration: none;
  width: 279px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workTop .kf_smallbox div .kf_quan {
  width: 19px;
  height: 19px;
  background: #EBC243;
  display: inline-block;
  border-radius: 50%;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workTop .kf_smallbox div .kf_num {
  font-size: 12px;
  color: #BFB9BA;
    float: right;
  display: inline-block;
  height: 19px;
  padding-top: 5px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workTop .kf_zplb {
  height: 43px;
  background-image: url(../images/small_img.png);
  background-position: 0 -48px;
  text-align: left;
  line-height: 43px;
  width: 117px;
  padding-left: 28px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workTop .kf_zplb .tb {
  width: 22px;
  height: 22px;
  background: url(../images/zkf/kf_a3.png) center no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 14px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot {
  width: 100%;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem {
  width: 867px;
  height: 356px;
  padding-top: 58px;
  border-bottom: 1px solid #B5B5B5;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon {
  width: 819px;
  height: 230px;
  position: relative;
  padding-right: 23px;
  padding-top: 23px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_right {
  float: right;
  width: 495px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_right .kf_lt {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #B5B5B5;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_right .kf_lt a {
  color: #000;
  font-size: 17px;
  text-decoration: none;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_right .kf_lt .date {
  color: #929292;
  font-size: 10px;
  float: right;
  height: 44px;
  line-height: 44px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_right .kf_lt .date img {
  vertical-align: middle;
  margin-right: 5px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_right .kf_lb {
  padding: 15px 83px 15px 0;
  font-size: 13px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_right .kf_lb a {
  color: #000;
  text-decoration: none;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_right .kf_liulan {
  width: 352px;
  height: 34px;
  font-size: 13px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_right .kf_liulan div {
  float: left;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_right .kf_liulan .kf_one div {
  width: 18px;
  height: 18px;
  background-image: url(../images/small_img.png);
  background-position: -682px -46px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 4px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_right .kf_liulan .kf_two div {
  width: 18px;
  height: 18px;
  background: url(../images/zkf/kf_liuyan.png) no-repeat;
  background-size: 18px 18px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 4px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_right .kf_liulan .kf_three div {
  width: 18px;
  height: 18px;
  background: url(../images/zkf/kf_32.png) no-repeat;
  background-size: 18px 18px;
  margin-right: 4px;
  display: inline-block;
  vertical-align: bottom;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_right .kf_liulan .kf_one span,
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_right .kf_liulan .kf_two span,
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_right .kf_liulan .kf_three span {
  margin-right: 15px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_leftImg {
  position: absolute;
  bottom: -35px;
  left: 19px;
  width: 281px;
  height: 263px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_leftImg img {
  width: 281px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_rightGzd {
  width: 410px;
  height: 106px;
  bottom: -35px;
  right: 89px;
  position: absolute;
  background: #fff;
  padding-left: 22px;
  box-shadow: 6px 7px 25px #DDDDDD;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_rightGzd .kf_gzdTop {
  width: 300px;
  height: 40px;
  line-height: 40px;
  padding-top: 13px;
  border-bottom: 1px solid #B7B7B7;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_rightGzd .kf_gzdTop span {
  color: #C1C1C1;
  font-size: 12px;
  margin-right: 7px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_rightGzd .kf_gzdTop .name {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin-right: 15px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_rightGzd .kf_gzdTop .progressBar {
  width: 100px;
  height: 14px;
  background: #F4F4F4;
  display: inline-block;
  vertical-align: middle;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_rightGzd .kf_gzdTop .progressBar div {
  width: 60px;
  height: 14px;
  background: #E8B414;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_rightGzd .kf_gzdBot {
  width: 252px;
  height: 38px;
  line-height: 38px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_rightGzd .kf_gzdBot .fenlei {
  padding-right: 11px;
  border-right: 1px solid #B7B7B7;
  margin-right: 11px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_rightGzd .kf_gzdBot span {
  font-size: 14px;
  color: #240528;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_rightGzd .kf_gzdBot .num {
  font-size: 18px;
  color: #3D2A40;
  margin: 0 5px;
  font-style: italic;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_head {
  width: 155px;
  height: 144px;
  position: absolute;
  right: -21px;
  box-shadow: 6px 7px 25px #DDDDDD;
  bottom: -18px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_head img {
  width: 155px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_video {
  position: absolute;
  right: 116px;
  bottom: 0;
  width: 43px;
  height: 43px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_wbItem .kf_wbiCon .kf_video img {
  width: 43px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_fenye {
  width: 869px;
  height: 109px;
  padding-top: 87px;
  font-size: 12px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_fenye a {
  color: #8C8C8C;
  display: block;
  float: left;
  margin-left: 8px;
  text-decoration: none;
  text-align: center;
  width: 29px;
  height: 29px;
  line-height: 29px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_fenye .kf_pageNum {
  background: url(../images/small_img.png);
  background-position: -208px -34px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_fenye .kf_pageName {
  width: 77px;
  background: url(../images/small_img.png);
  background-position: -208px 0;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_fenye .kf_pageActive {
  width: 35px;
  height: 35px;
  background: url(../images/small_img.png);
  color: #fff;
  line-height: 35px;
  margin-top: -3px;
  background-position: -208px -69px;
}
.kf_allwz .kf_wzCon .kf_allWorks .kf_workBot .kf_fenye .kf_pageGo {
  width: 35px;
  height: 35px;
  background: url(../images/small_img.png);
  line-height: 35px;
  background-position: -208px -112px;
}
.kf_allwz .kf_wzCon .kf_hotArticles {
  width: 295px;
  float: right;
}
.kf_allwz .kf_wzCon .kf_hotArticles .kf_hotTop {
  width: 295px;
  height: 40px;
  line-height: 40px;
  background: url(../images/zkf/kf_19.png) no-repeat left;
}
.kf_allwz .kf_wzCon .kf_hotArticles .kf_hotItem {
  height: 55px;
  border-bottom: 1px solid #B5B5B5;
  padding-top: 34px;
  padding-bottom: 25px;
}
.kf_allwz .kf_wzCon .kf_hotArticles .kf_hotItem .kf_title {
  font-size: 17px;
  margin-bottom: 14px;
}
.kf_allwz .kf_wzCon .kf_hotArticles .kf_hotItem .kf_title a {
  color: #000;
}
.kf_allwz .kf_wzCon .kf_hotArticles .kf_hotItem .kf_liulan {
  width: 100%;
  height: 18px;
  font-size: 13px;
}
.kf_allwz .kf_wzCon .kf_hotArticles .kf_hotItem .kf_liulan div {
  float: left;
}
.kf_allwz .kf_wzCon .kf_hotArticles .kf_hotItem .kf_liulan .kf_one div {
  width: 18px;
  height: 18px;
  background-image: url(../images/small_img.png);
  background-position: -682px -46px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 4px;
}
.kf_allwz .kf_wzCon .kf_hotArticles .kf_hotItem .kf_liulan .kf_two div {
  width: 18px;
  height: 18px;
  background: url(../images/zkf/kf_liuyan.png) no-repeat;
  background-size: 18px 18px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 4px;
}
.kf_allwz .kf_wzCon .kf_hotArticles .kf_hotItem .kf_liulan .kf_three div {
  width: 18px;
  height: 18px;
  background: url(../images/zkf/kf_32.png) no-repeat;
  background-size: 18px 18px;
  margin-right: 4px;
  display: inline-block;
  vertical-align: bottom;
}
.kf_allwz .kf_wzCon .kf_hotArticles .kf_hotItem .kf_liulan .kf_one span,
.kf_allwz .kf_wzCon .kf_hotArticles .kf_hotItem .kf_liulan .kf_two span,
.kf_allwz .kf_wzCon .kf_hotArticles .kf_hotItem .kf_liulan .kf_three span {
  margin-left: 10px;
  margin-right: 26px;
}
.kf_allwz:after {
  clear: both;
  display: block;
  content: "";
}
