@w:1200px;        //网站内宽
@il:'../images/'; //图片地址
@ilh:'../images/hnz/'; //图片地址 hnz文件夹
@i:'../images/small_img.png';
//-------------------------------------
.more(){
	float: right;
	height: 100%;
	width: 145px;
	background: url('@{i}') no-repeat 0 -146px;
}
//-------------------------------------
body{
	font-family: Helvetica, Arial,sans-serif;
	background-color: #f4f4f4;
	border:1px solid red;
}
//导航
.hnz-navbox{
	width: 100%;
	height: 144px;
	background:rgba(21, 92, 134, .5);
	position: absolute;
	top:0;
	left:0;
	z-index: 1000;
	.hnz-nav{
		width:@w;
		height:100%;
		margin:0 auto;
		.hnz-logo{
			float: left;
			width:76px;
			height:100%;
			position: relative;
			img{
				position: absolute;
				margin:auto 0;
				top:0;
				bottom:0;
			}
		}
		.hnz-list{
			height: 65px;
			float: left;
			margin-top:50px;
			li{
				width:230px;
				height:100%;
				float: left;
				border-right:1px dashed #aaaaaa;
				text-align: center;
				a{
					height: 100%;
					display: inline-block;
					color:#fff;
					span{
						display: block;
						width:100%;
						height:30px;
						text-align: left;
						line-height: 30px;
						font-size: 18px;
						&.hnz-en{
							color:#bdbebf;
							background: url("@{ilh}hnz-line.png") no-repeat 0 bottom;
						}
						&.hnz-zh{
							height: 35px;
						}
					}
					&.hnz-active,&:hover{
						.hnz-zh{
							background: url("@{ilh}hnz-nav-active.png") no-repeat 0 bottom;
						}
					}
				}

			}
		}
		.hnz-search-btn{
			float: right;
			position: relative;
			margin-top:60px ;
			width: 80px;
			height: 45px;
			background: url("@{ilh}hnz-search.png") no-repeat 0 0;
		}
	}
}

//轮播
.hnz-banner-box{
	width: 100%;
	height: 1000px;
	position: relative;
	overflow-x: hidden;
	.hnz-banner-bg{
		// height: 100%;
		position: absolute;
		left:50%;
		margin-left:-1920px/2;
	}
	.hnz-banner{
		width: 1440px;
		height: 744px;
		position: absolute;
		top:180px;
		left:50%;
		margin-left:-1440px /2;
		background: yellow;
		ul{
			width: 100%;
			height: 100%;
			position: relative;
			li{
				width: 100%;
				height: 100%;
				position: absolute;
				.title{
					width: 590px;
					height: 256px;
					background: #10c8f0;
					position: absolute;
					left:-120px;
					top:180px;
					img{
						position: absolute;
						margin:auto;
						left:0;
						top:0;
						bottom:0;
						right:0;
					}
				}
			}
		}
		.hnz-index-box{
			position: absolute;
			top:300px;
			right: -120px;
			width: 120px;
			height: 240px;
			background: url("@{i}") no-repeat -580px -102px;
			.hnz-index-l{
				width: 50px;
				height: 135px;
				float: left;
				padding-top: 30px;
				span{
					margin:15px 0 0 20px;
					display: block;
					width: 16px;
					height: 16px;
					background: url("@{i}") no-repeat -684px -348px;
					&.hnz-hot{
						background: url("@{i}") no-repeat -654px -348px;
					}
				}
			}
			.hnz-index-r{
				width: 70px;
				height: 65px;
				padding-top: 100px;
				float: right;
				span{
					float: left;
					width: 20%;
					font-size:14px;
					line-height: 20px;
					text-align: center;
					color:#fff;
					&.hnz-index-now{
						width: 40%;
						font-size: 24px;
						text-align: right;
					}
					&.hnz-index-all{
						text-align: left;
						width: 40%;
					}
				}
			}
			.hnz-index-btn{
				width: 50px;
				padding-left:30px;
				height: 40px;
				float: left;
				background: url("@{i}") no-repeat -621px -370px;
				span{
					width:20px;
					height: 100%;
					float:left;
					font-size: 20px;
					font-weight: bolder;
					text-align: center;
					line-height: 40px;
					color: #f0c310;
					cursor: pointer;
					font-family: monospace;
				}
			}
		}
	}
}
//侧边栏
.hnz-slide{
	width: 66px;
	height:700px;
	position: fixed;
	right: 0;
	top:0;
	z-index: 1200;
	background-color: rgba(36, 38, 40, .6);
	.hnz-avatar{
		width: 60px;
		height: 60px;
		margin: 60px auto 0;
		position: relative;
		.hnz-mask{
			width: 100%;
			height: 100%;
			background: url("@{ilh}hnz-photo.png") no-repeat 0 0;
			position: absolute;
			top:0;
			left:0;
			z-index: 1;
		}
		img{
			position: absolute;
			left:0;
			top:0;
			margin:2px;
			z-index: 0;
			width: 54px;
			height:54px;
			border-radius:50%;
			border:2px solid #f9cd1e;
		}
	}
	.hnz-stars{
		margin:10px auto;
		width:54px;
		height: 24px;
		background: url('@{ilh}hnz-line2.png') no-repeat center bottom;
		div{
			width: 100%;
			height: 20px;
		}
		.star1{
			background: url(@i) no-repeat 0 -475px;
		}
		.star2{
			background: url(@i) no-repeat 0 -504px;
		}
		.star3{
			background: url(@i) no-repeat 0 -535px;
		}
	}
	.hnz-slide-list{
		width:43px;
		margin:45px auto 0;
		height: auto;
		a{
			display: block;
			width: 43px;
			height: 43px;
			margin-bottom: 25px;
			position: relative;
			&:hover span{
				display: block;
			}
			& span{
				display: none;
				position: absolute;
				width:94px;
				height: 50px;
				right:100%;
				background: url(@i) no-repeat 0 -650px;
			}
		}
		.hnz-home{
			background: url(@i) no-repeat -208px -207px;
			span{

			}
		}
		.hnz-email{
			background: url(@i) no-repeat -208px -374px;
		}
		.hnz-message{
			background: url(@i) no-repeat -208px -262px;
		}
		.hnz-chengjiu{
			background: url(@i) no-repeat -208px -318px;
		}
		.hnz-shoucang{
			background: url(@i) no-repeat -208px -155px;
		}
	}
	.hnz-back{
		position: absolute;
		width: 43px;
		height: 43px;
		bottom:80px;
		background: url(@i) no-repeat -208px -429px;
		margin:0 11px;
	}
	.hnz-login-out{
		position: absolute;
		margin:0 (66px - 37px) / 2;
		width: 37px;
		height: 43px;
		bottom: 20px;
	}
}

//推荐作品
.hnz-works{
	width: @w;
	height: auto;
	margin:0 auto;
	border:1px solid red;
	.hnz-works-head{
		height: 43px;
		h3{
			height: 100%;
			width: 286px;
			background: url('@{ilh}hnz-zp.png') no-repeat 0 center;
			float: left;
		}
		a{
			.more()
		}
	}
	.hnz-works-list{
		width: 100%;
		height: 834px;
	}
}


//推荐文章
.hnz-article{
	width: @w;
	height: auto;
	margin:40px auto 0;
	border:1px solid red;
	.hnz-article-head{
		height: 43px;
		h3{
			height: 100%;
			width: 286px;
			background: url('@{ilh}hnz-article.png') no-repeat 0 center;
			float: left;
		}
		a{
			.more()
		}
	}
	.hnz-article-list{
		margin-top:40px;
		width: 100%;
		height: 580px;
	}
}
