@w:1200px;        //网站内宽
@il:'../images/'; //图片地址
@ilh:'../images/hnz/'; //图片地址 hnz文件夹
@i:'../images/small_img.png';

//图片精灵混合
.bg(@x,@y){
	background: url('@{i}') no-repeat @x @y;
}
//首页 showmore混合
.more(){
	float: right;
	height: 100%;
	width: 145px;
	.bg(0,-146px)
}
//-------------------------------------
body{
	font-family: Helvetica, Arial,sans-serif;
	background-color: #f4f4f4;
}
//导航
.hnz-navbox{
	width: 100%;
	height: 144px;
	background:rgba(21, 92, 134, .5);
	position: absolute;
	top:0;
	left:0;
	z-index: 1000;
	.hnz-nav{
		width:@w;
		height:100%;
		margin:0 auto;
		.hnz-logo{
			float: left;
			width:76px;
			height:100%;
			position: relative;
			img{
				position: absolute;
				margin:auto 0;
				top:0;
				bottom:0;
			}
		}
		.hnz-list{
			height: 65px;
			float: left;
			margin-top:50px;
			li{
				width:230px;
				height:100%;
				float: left;
				border-right:1px dashed #aaaaaa;
				text-align: center;
				a{
					height: 100%;
					display: inline-block;
					color:#fff;
					span{
						display: block;
						width:100%;
						height:30px;
						text-align: left;
						line-height: 30px;
						font-size: 18px;
						&.hnz-en{
							color:#bdbebf;
							background: url("@{ilh}hnz-line.png") no-repeat 0 bottom;
						}
						&.hnz-zh{
							height: 35px;
						}
					}
					&.hnz-active,&:hover{
						.hnz-zh{
							background: url("@{ilh}hnz-nav-active.png") no-repeat 0 bottom;
						}
					}
				}

			}
		}
		.hnz-search-btn{
			float: right;
			position: relative;
			margin-top:60px ;
			width: 80px;
			height: 45px;
			background: url("@{ilh}hnz-search.png") no-repeat 0 0;
		}
	}
}

//轮播
.hnz-banner-box{
	width: 100%;
	height: 924px;
	position: relative;
	overflow-x: hidden;
	.hnz-banner-bg{
		// height: 100%;
		position: absolute;
		left:50%;
		margin-left:-1920px/2;
	}
	.hnz-banner{
		width: 1440px;
		height: 744px;
		position: absolute;
		top:180px;
		left:50%;
		margin-left:-1440px /2;
		ul{
			width: 100%;
			height: 100%;
			position: relative;
			li{
				width: 100%;
				height: 100%;
				position: absolute;
				.hnz-big-img{
					width: 100%;
					height: 100%;
					position: absolute;
					overflow: hidden;
				}
				.hnz-title{
					width: 590px;
					height: 256px;
					background: #10c8f0;
					position: absolute;
					left:-120px;
					top:180px;
					img{
						position: absolute;
						margin:auto;
						left:0;
						top:0;
						bottom:0;
						right:0;
					}
				}
			}
		}
		.hnz-index-box{
			position: absolute;
			top:300px;
			right: -120px;
			width: 120px;
			height: 240px;
			background: url("@{i}") no-repeat -580px -102px;
			.hnz-index-l{
				width: 50px;
				height: 135px;
				float: left;
				padding-top: 30px;
				span{
					margin:15px 0 0 20px;
					display: block;
					width: 16px;
					height: 16px;
					background: url("@{i}") no-repeat -684px -348px;
					&.hnz-hot{
						background: url("@{i}") no-repeat -654px -348px;
					}
				}
			}
			.hnz-index-r{
				width: 70px;
				height: 65px;
				padding-top: 100px;
				float: right;
				span{
					float: left;
					width: 20%;
					font-size:14px;
					line-height: 20px;
					text-align: center;
					color:#fff;
					&.hnz-index-now{
						width: 40%;
						font-size: 24px;
						text-align: right;
					}
					&.hnz-index-all{
						text-align: left;
						width: 40%;
					}
				}
			}
			.hnz-index-btn{
				width: 50px;
				padding-left:30px;
				height: 40px;
				float: left;
				background: url("@{i}") no-repeat -621px -370px;
				span{
					width:20px;
					height: 100%;
					float:left;
					font-size: 20px;
					font-weight: bolder;
					text-align: center;
					line-height: 40px;
					color: #f0c310;
					cursor: pointer;
					font-family: monospace;
				}
			}
		}
	}
}
// 信息
.hnz-info-box{
	width: 1236px;
	height: 257px;
	margin:-166px auto 60px;
	position: relative;
	z-index: 1000;
	.hnz-info-bg-l{
		float: left;
		width: 33px;
		height: 100%;
		background: url('@{ilh}hnz-tools-bg-l.png') no-repeat 2px 0;
	}
	.hnz-info-bg-c{
		float: left;
		width: 1170px;
		height: 100%;
		background: url('@{ilh}hnz-tools-bg-c.png') repeat-x 0 0;
	}
	.hnz-info-bg-r{
		float: left;
		width: 33px;
		height: 100%;
		background: url('@{ilh}hnz-tools-bg-r.png')  no-repeat 0 0;
	}
	.hnz-info-content{
		width:1110px;
		height: 150px;
		position: absolute;
		top:60px;
		left:0;
		right: 0;
		margin:0 auto;
		.hnz-info-top{
			width: 100%;
			height: 85px;
			border-bottom: 1px dashed #ccc;
			div{
				width:33.33333%;
				float: left;
				.hnz-icon{
					width: 56px;
					height: 50px;
				}
				.hnz-number{
					width: 100px;
					height: 50px;
					font-size:52px;
					font-style: italic;
					line-height: 52px;
					text-align: center;
					font-weight: bold;
				}
			}
			.hnz-works-1{
				color:#40d1f1;
				.hnz-icon{
					background: url("@{i}") no-repeat -643px -541px;
				}
			}
			.hnz-works-2{
				color:#f0c310;
				.hnz-icon{
					background: url("@{i}") no-repeat -643px -595px;
				}
			}
			.hnz-works-3{
				color:#32d486;
				.hnz-icon{
					background: url("@{i}") no-repeat -643px -652px;
				}
			}
		}
		.hnz-info-bottom{
			width: 100%;
			height: 64px;
			.hnz-icon-clock{
				width: 64px;
				height: 60px;
				float: left;
				.bg(-652px,-480px);
			}
			&-content{
				width: 896px;
				float: left;
				height: 64px;
				line-height: 64px;
				font-size: 20px;
				color:#747474;
			}
			&-time{
				float: right;
				width:130px;
				padding-left:20px;
				line-height: 68px;
				color:#fff;
				height: 64px;
				.bg(-583px,-423px);
			}
		}
	}
}
//侧边栏
.hnz-slide{
	width: 66px;
	height:700px;
	position: fixed;
	right: 0;
	top:0;
	z-index: 1200;
	background-color: rgba(36, 38, 40, .6);
	.hnz-avatar{
		width: 60px;
		height: 60px;
		margin: 60px auto 0;
		position: relative;
		.hnz-mask{
			width: 100%;
			height: 100%;
			background: url("@{ilh}hnz-photo.png") no-repeat 0 0;
			position: absolute;
			top:0;
			left:0;
			z-index: 1;
		}
		img{
			position: absolute;
			left:0;
			top:0;
			margin:2px;
			z-index: 0;
			width: 54px;
			height:54px;
			border-radius:50%;
			border:2px solid #f9cd1e;
		}
	}
	.hnz-stars{
		margin:10px auto;
		width:54px;
		height: 24px;
		background: url('@{ilh}hnz-line2.png') no-repeat center bottom;
		div{
			width: 100%;
			height: 20px;
		}
		.star1{
			background: url(@i) no-repeat 0 -475px;
		}
		.star2{
			background: url(@i) no-repeat 0 -504px;
		}
		.star3{
			background: url(@i) no-repeat 0 -535px;
		}
	}
	.hnz-slide-list{
		width:43px;
		margin:45px auto 0;
		height: auto;
		a{
			display: block;
			width: 43px;
			height: 43px;
			margin-bottom: 25px;
			position: relative;
			&:hover span{
				display: block;
			}
			& span{
				display: none;
				position: absolute;
				width:94px;
				height: 50px;
				right:100%;
				background: url(@i) no-repeat 0 -650px;
			}
		}
		.hnz-home{
			background: url(@i) no-repeat -208px -207px;
		}
		.hnz-email{
			background: url(@i) no-repeat -208px -374px;
		}
		.hnz-message{
			background: url(@i) no-repeat -208px -262px;
		}
		.hnz-chengjiu{
			background: url(@i) no-repeat -208px -318px;
		}
		.hnz-shoucang{
			background: url(@i) no-repeat -208px -155px;
		}
	}
	.hnz-back{
		position: absolute;
		width: 43px;
		height: 43px;
		bottom:80px;
		background: url(@i) no-repeat -208px -429px;
		margin:0 11px;
	}
	.hnz-login-out{
		position: absolute;
		margin:0 (66px - 37px) / 2;
		width: 37px;
		height: 43px;
		bottom: 20px;
		background: url("@{ilh}hnz-all-home.png") no-repeat 0px -344px;
	}
}

//推荐作品
.hnz-works{
	width: @w;
	height: auto;
	margin:0 auto;
	.hnz-works-head{
		height: 43px;
		h3{
			height: 100%;
			width: 286px;
			background: url('@{ilh}hnz-zp.png') no-repeat 0 center;
			float: left;
		}
		a{
			.more()
		}
	}
	.hnz-works-list{
		width: 100%;
		height: 834px;
		&-inner{
			height: 100%;
			margin:0 -15px;
		}
		.wlh-zpshow-tjcon{
          width:380px;
          height:385px;
          border-radius: 6px;
          behavior: url(border-radius.htc);
          background: #fff;
          float:left;
          margin:16px 15px 0 15px;
          .wlh-zpshow-tjimg{
            width:100%;
            height:267px;
            overflow: hidden;
          }
          .wlh-zpshow-tjxj{
            width:(380-26)*1px;
            height:(118-36)*1px;
            padding:18px 13px 18px 13px;
            .wlh-zpshow-tjxj-left{
              float:left;
              width:266px;
              overflow: hidden;
              h4{
                color:#403e3e;
                font-size:16px;
                background:url("../images/wlh/wlh_title_line.jpg") no-repeat 3px 22px;
                height:23px;
              }
              p{
                height:20px;
                overflow: hidden;
                color: #606060;
                font-size: 14px;
                line-height: 20px;
              }
              .wlh-see{
                float:left;
                margin-right:5px;
                line-height:20px;
                margin-top: 10px;
                .wlh-see-img{
                width:16px;
                height:16px;
                background:url("../images/small_img.png") no-repeat -684px -46px;
                float:left;
                line-height:16px;
                }
                span{
                color:#ababab;
                font-size:12px;
                float:left;
                margin:0 5px;
                line-height: 16px;
                }
              }
              .wlh-xin{
                float:right;
                width: 102px;
                height:16px;
                margin-top: 10px;
                background: url("../images/small_img.png") no-repeat 0 -439px;
              }
            }
            .wlh-zpshow-tjxj-right{
              float:right;
              width:71px;
              height:71px;
              background:#dddddd;
              border:3px solid #dddddd;
              border-radius: 50%;
              behavior: url(border-radius.htc);
              overflow: hidden;
              position: relative;
              cursor:pointer;
              img{
                width: 71px;
                height:71px;
              }
              .wlh-tjxj-zhezhao{
                width: 71px;
                height: 71px;
                position: absolute;
                left: 0;
                top:0;
                z-index: 1;
                background: url("../images/wlh/wlh_zpjx-bg.png");
                display:none;
              }
              .wlh-tjxi-sj{
                position: absolute;
                left:33px;
                top:24px;
                z-index: 2;
                img{
                  width: 12px;
                  height: 17px;
                }
              }
              .wlh-tjxj-video{
                width: 65px;
                height:25px;
                background: url("../images/wlh/wlh_zpshow_jx.png") no-repeat;
                position: absolute;
                left: 3px;
                bottom:-25px;
                z-index: 5;
              }
            }
          }
        }
	}
}


//推荐文章
.hnz-article{
	width: @w;
	height: auto;
	margin:40px auto 0;
	.hnz-article-head{
		height: 43px;
		h3{
			height: 100%;
			width: 286px;
			background: url('@{ilh}hnz-article.png') no-repeat 0 center;
			float: left;
		}
		a{
			.more()
		}
	}
	.hnz-article-list{
		margin-top:40px;
		width: 100%;
		height: 580px;
		.hnz-article-left{
			width: 884px;
			height: 100%;
			float: left;
			.hnz-one{
				background: #fff;
				height: 280px;
				margin-bottom: 19px;
				transition: all .5s;
				-webkit-transition:all .5s;
				&:hover{
					box-shadow: 0 0 20px #999;
					.hnz-img img{
						transform: scale(1.1,1.1);
					}
				}
				.hnz-img{
					width: 300px;
					height: 280px;
					overflow: hidden;
					float: left;
					img{
						transition: all .5s;
						-webkit-transition:all .5s;
					}
				}
				.hnz-content{
					float: left;
					margin:45px 0 0 30px;
					width: 512px;
					height: 210px;
					&-top{
						height: 122px;
						border-bottom: 1px dashed #ccc;
						h4{
							font-size: 20px;
							a{color:#33aee3;}
						}
						p{
							font-size: 18px;
							color:#434344;
							line-height: 1.3;
						}
					}
					&-bottom{
						padding-top: 20px;
						height: 68px;
						.hnz-photo{
							width: 58px;
							height: 58px;
							border-radius: 50%;
							border:3px solid #ccc;
							overflow: hidden;

							float: left;
							img{
								width: 100%;
							}
						}
						.hnz-avatar{
							padding:10px 0 0 10px;
							float: left;
							width: 120px;
							height: 64px;
							&-name{
								height: 24px;
								font-size: 16px;
								color:#545454;
							}
							.hnz-ck{
								float: left;
								width: 74px;
								height: 20px;
								border-radius:10px;
								background:#f2c744;
								color:#fff;
								font-size: 12px;
								text-align: center;
								line-height: 20px;
							}
							.hnz-zw{
								margin-left: 5px;
								float: left;
								width: 20px;
								height: 20px;
								border-radius: 50%;
								background: #39c380;
								font-size: 12px;
								line-height: 20px;
								text-align: center;
								color:#fff;
							}
						}
						&>img{
							margin-top: 10px;
							float: left;
						}
						.hnz-fav{
							padding-top:10px;
							width: 110px;
							height: 54px;
							float: left;
							text-align: center;
							font-size: 14px;
							color:#545454;
							&-icon{
								width: 24px;
								height: 24px;
								margin:0 auto;
								.bg(0,-575px)
							}
						}
					}
				}
			}
		}
		.hnz-article-right{
			width: 300px;
			height: 100%;
			float: right;
			background: #fff;
			transition: all .5s;
			-webkit-transition:all .5s;
			&:hover{
				box-shadow: 0 0 20px #999;
				.hnz-img img{
					transform: scale(1.1,1.1);
				}
			}
			.hnz-img{
				width: 300px;
				height: 280px;
				overflow: hidden;
				img{
					transition: all .5s;
					-webkit-transition:all .5s;
				}
			}
			.hnz-content-top{
				height: 110px;
				margin:30px 0 0 16px;
				h4{
					font-size: 20px;
					a{color:#33aee3;}
				}
				p{
					font-size: 18px;
					color:#434344;
					line-height: 1.3;
				}
			}
			.hnz-fav{
				&-one{
					width: 33.33%;
					height: 40px;
					float: left;
					text-align: center;
					font-size: 14px;
					color:#545454;
					.hnz-fav-icon{
						width: 24px;
						height: 24px;
						float: left;
						.bg(0,-575px)
					}
				}
				margin:16px 0 0 16px;
				height: 40px;
				text-align: center;
				font-size: 14px;
				color:#545454;
				border-bottom:1px dashed #ccc;
			}
			.hnz-photo{
				width: 58px;
				height: 58px;
				border-radius: 50%;
				border:3px solid #ccc;
				overflow: hidden;
				float: left;
				margin:20px 20px 0;
				img{
					width: 100%;
				}
			}
			.hnz-avatar{
				margin-top:20px;
				padding:10px 16px 0;
				// width: 120px;
				height: 64px;
				&-name{
					height: 24px;
					font-size: 16px;
					color:#545454;
				}
				.hnz-ck{
					float: left;
					width: 74px;
					height: 20px;
					border-radius:10px;
					background:#f2c744;
					color:#fff;
					font-size: 12px;
					text-align: center;
					line-height: 20px;
				}
				.hnz-zw{
					margin-left: 5px;
					float: left;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background: #39c380;
					font-size: 12px;
					line-height: 20px;
					text-align: center;
					color:#fff;
				}
			}
		}
	}
}


//推荐设计师
.hnz-designer-box{
	background: #fff;
	margin-top:50px;
	.hnz-designer{
		width: @w;
		height: auto;
		margin:0 auto;
		border-top:1px solid transparent;
		&-head{
			height: 43px;
			margin: 50px 0 20px;
			h3{
				height: 100%;
				width: 286px;
				background: url('@{ilh}hnz-designer.png') no-repeat 0 center;
				float: left;
			}
			a{
				.more()
			}
		}
		&-list{
			width: 100%;
			height: auto;
			position: relative;
			.hnz-designer-one{
				width: 33.3333%;
				float: left;
				height: 540px;
				.hnz-designer-photo{
					width: 100%;
					height: 400px;
					position: relative;
					div{
						width: 100%;
						height: 100%;
						position: absolute;
						top:0;
						left:0;
					}
					.hnz-designer-img{
						position: absolute;
						width: 244px;
						height: 244px;
						margin:auto;
						top:0;
						left:0;
						right: 0;
						bottom: 0;
						border-radius: 50%;
						overflow: hidden;
						img{
							width: 100%;
						}

					}
					.hnz-zw{
						width: 42px;
						height: 42px;
						position: absolute;
						bottom:20px;
						left:10px;
						background: url("@{ilh}hnz-all-home.png") no-repeat -90px -778px;
						z-index: 9;
						text-align: center;
						line-height: 42px;
						color:#fff;
						left:110px;
						top:280px;
					}

					//1
					.hnz-blue{
						height: 160px;
						top:76px;
						left:-20px;
						background: url("@{ilh}hnz-all-home.png") no-repeat 0 -583px;
					}
					.hnz-yellow{
						width: 150px;
						height: 160px;
						background: url("@{ilh}hnz-all-home.png") no-repeat 0 -844px;
						top:140px;
						left:220px;
					}

					//2
					.hnz-orange{
						width: 244px;
						height: 244px;
						background: url("@{ilh}hnz-all-home.png") no-repeat -454px 0;
						top:50px;
						left:40px;
					}
					.hnz-green{
						width: 112px;
						height: 140px;
						background: url("@{ilh}hnz-all-home.png") no-repeat -583px -263px;
						top:190px;
						left:240px;
					}

					//3
					.hnz-blues{
						width: 60px;
						height: 60px;
						background: url("@{ilh}hnz-all-home.png") no-repeat -630px -733px;
						top:80px;
						left:80px;
					}
					.hnz-greens{
						width: 130px;
						height: 170px;
						background: url("@{ilh}hnz-all-home.png") no-repeat -563px -828px;
						top:80px;
						left:240px;
					}
				}
				.hnz-designer-info{
					padding:0 75px;
					.hnz-designer-name{
						height: 30px;
						line-height: 30px;
						font-size: 16px;
						color:#595959;
						span{
							color:#48c1ff;
							display: inline-block;
							width: 100px;
						}
					}
					p{
						color:#595959;
						height: 30px;
						line-height: 24px;
						border-bottom: 1px dashed #ccc;
						overflow: hidden;
					}
					.hnz-designer-icon{
						margin-top:10px;
						overflow: hidden;
						&>div{
							width: 33.333%;
							float: left;
							height: 21px;
							line-height: 21px;
							vertical-align: middle;
							color: #696969;
							span{
								display: inline-block;
								width: 21px;
								height: 21px;
								vertical-align: middle;
								margin-right: 10px;
							}
						}
						.hnz-sc{
							span{
								.bg(-679px,-22px)
							}
						}
						.hnz-ss{
							span{
								.bg(-655px,-22px)
							}
						}
						.hnz-pl{
							span{
								.bg(-632px,-22px)
							}
						}
					}
				}
			}
			.hnz-line1{
				width: 100%;
				height:0;
				border-bottom: 1px dashed #ccc;
				position: absolute;
				top:540px;
			}
			.hnz-line2{
				width: 100%;
				height:0;
				border-bottom: 1px dashed #ccc;
				position: absolute;
				top:540px;
			}
			.hnz-join-club{
				margin:0 auto;
				display: block;
				width: 340px;
				height: 120px;
				background: url("@{ilh}hnz-all-home.png") no-repeat 0px 0px;
			}
		}
	}
}
